@tailwind base;
@tailwind components;
@tailwind utilities;


.link {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.link svg {
    width: 100%;
    height: 100%;
    fill: #241943;
}

.link svg:hover {
    fill: #3400b9;
    scale: 1.1;
    transition: all ease-in 200ms;
}
