@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px;
}

.link svg {
    width: 100%;
    height: 100%;
    fill: #241943;
}

.link:hover {
    scale: 1.1;
    transition: all ease-in 200ms;
}
.link:hover svg {
    fill: white;
}
.link svg:hover {
    transition: all ease-in 300ms;
}

#profile-picture-effects {
    border-radius: 1rem;
    width: max-content;
    height: max-content;
}

#effect-card-picture {
    position: absolute;
    border-radius: 5rem;
    background: #ff00cc;
    filter: blur(3px);
    transform: rotate(15deg);
}

#get-job-card-picture {
    position: absolute;
    z-index: 1;
    background: #ffff00;
    transform: rotate(-25deg);
}

#designtecnology-picture-effects {
    box-shadow: 15px 15px 0px 0px #73ff00,
                -15px -15px 0px 0px #73ff00;
    border: solid 4px #73ff00;
}

#get-job-picture-effects {
    box-shadow: 0px 0px 0px 10px #ffff00;
    margin: 15px 0;
}